<!DOCTYPE html>
<html xmlns:th="htttp://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>

	<h3 th:text="${titulo}"></h3>

	<form th:action="@{/form}" th:object="${usuario}" method="POST">
		
		<div>
			<label for="identificadorRegular">Identificador Regular</label>
			<div>
				<input type="text" id="identificadorRegular" th:field="*{identificadorRegular}">
			</div>
			<div th:if="${#fields.hasErrors('identificadorRegular')}">
				<p th:errors="*{identificadorRegular}" style="color: red;"></p>
			</div>
		</div>
		
		<div>
			<label for="username">Username</label>
			<div>
				<input type="text" id="username" th:field="*{username}">
			</div>
			<div th:if="${#fields.hasErrors('username')}">
				<p th:errors="*{username}" style="color: red;"></p>
			</div>
		</div>

		<div>
			<label for="email">Email</label>
			<div>
				<input type="text" id="email" th:field="*{email}">
			</div>
			<div th:if="${#fields.hasErrors('email')}">
				<p th:errors="*{email}" style="color: red;"></p>
			</div>
		</div>

		<div>
			<label for="edad">Edad</label>
			<div>
				<input type="text" id="edad" th:field="*{edad}">
			</div>
			<div th:if="${#fields.hasErrors('edad')}">
				<p th:errors="*{edad}" style="color: red;"></p>
			</div>
		</div>

		<div>
			<div>
				<br> <input type="submit" value="Enviar">
			</div>
		</div>
	</form>

</body>
</html>